@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
    body:not(.rz-default-scrollbars)::-webkit-scrollbar {
        background-color: #ffffff;
        width: 8px;
        height: 14px;
    }

    body:not(.rz-default-scrollbars)::-webkit-scrollbar {
        width: 8px;
    }

    body:not(.rz-default-scrollbars)::-webkit-scrollbar-track {
        background: #ffffff;
    }

    /* Handle */
    body:not(.rz-default-scrollbars)::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        body:not(.rz-default-scrollbars)::-webkit-scrollbar-thumb:hover {
            background: #555;
        }


    body:not(.rz-default-scrollbars)::-webkit-scrollbar {
        width: 8px;
    }

    body:not(.rz-default-scrollbars)::-webkit-scrollbar-track {
        background: #ffffff;
    }

a, .btn-link {
    color: #0366d6;
}

.btn-primary {

}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
.nav-item a {font-size:12px;}
.card-title {font-size:14px;}

@font-face {
    font-family: CCode39;
    src: url("/fonts/ConnectCode39.woff") format('woff')
}

#barcode {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'CCode39', sans-serif;
    text-align: center;
    font-size: 32px
}

#barcode_text {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: sans-serif;
    text-align: center;
    font-size: 24px
}
.breadcrumb {
    background: transparent;
    align-items: center;
    margin: 0 0 1.25rem;
    padding: 0;
}
span {
    font-size:12px;
}
.mud-toolbar.mud-toolbar-appbar {
    height: 50px;
    background: #ffffff !important;
}
.mud-drawer.mud-drawer-temporary.mud-drawer-pos-right.mud-drawer--open {
    width: 246px;
}
.mud-drawer .mud-drawer-content {
    width: 234px;
}
.mud-ripple {
    color: #47404f;
}
.mud-drawer-header {
    height: 62px;
}
