	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/12/2016 07:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-agenda:before { content: "\f100"; }
.flaticon-agenda-1:before { content: "\f101"; }
.flaticon-agenda-2:before { content: "\f102"; }
.flaticon-book:before { content: "\f103"; }
.flaticon-globe:before { content: "\f104"; }
.flaticon-square:before { content: "\f105"; }
.flaticon-square-1:before { content: "\f106"; }
.flaticon-square-2:before { content: "\f107"; }
.flaticon-square-3:before { content: "\f108"; }
.flaticon-squares:before { content: "\f109"; }
.flaticon-symbols:before { content: "\f10a"; }
.flaticon-telephone:before { content: "\f10b"; }
.flaticon-thumbnails:before { content: "\f10c"; }
.flaticon-thumbnails-1:before { content: "\f10d"; }
.flaticon-visualization:before { content: "\f10e"; }
.flaticon-world-wide-web:before { content: "\f10f"; }